<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SuperBrain">

        <activity
            android:name=".msspeech.MsSpeechActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SuperBrain">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->

        </activity>


        <activity
            android:name=".asr.AsrMainActivity"
            android:label="语音唤醒demo"
            android:theme="@style/Theme.MaterialComponents"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".microsoft.MainActivity"
            android:exported="true"
            android:label="微软demo"
            android:theme="@style/Theme.SuperBrain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




        <activity
            android:name=".asr.ISCAwakeActivity3"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents"
            android:screenOrientation="portrait"
            android:label="@string/ivw_title" />

        <activity
            android:name="com.qihoo.zhinao.demo.asr.IvwActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents"
            android:screenOrientation="portrait"
            android:label="@string/ivw_title" />

        <activity
            android:name=".asr.MSAsrTestActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents"
            android:screenOrientation="portrait"
            android:label="@string/ivw_title" />
    </application>

</manifest>